
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/template ::  head(title = 'Pomysłownik - Admin')"></head>

<body id="page-top">


<th:block th:replace="admin/template :: main"/>


<th:block th:replace="admin/template :: scroll-to-top"/>
<th:block th:replace="admin/template :: logout"/>

<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/admin/js/sb-admin-2.js"></script>
<script src="/admin/vendor/chart.js/Chart.min.js"></script>
<script src="/admin/js/demo/chart-area-demo.js"></script>
<script src="/admin/js/demo/chart-pie-demo.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>