<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formularz dodawania pytania</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<div class="container">
    <h1>Dodaj nowe pytanie</h1>
    <form th:object="${question}" method="post" action="/questions">
        <input type="text" th:field="*{name}" placeholder="Wprowadź pytanie"/>
        <input type="submit" value="Dodaj"/>
    </form>
</div>
</body>
</html>
