<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(title = 'Pomysłownik')">
    <link rel="stylesheet" href="/static/css/singleStyle.css">

</head>
<body>
<th:block th:replace="template :: header" />
<div class="container">
    <div class="row g-5 justify-content-center">
        <div class="col-md-8">

            <article class="blog-post text-center">
                <div th:if="${questionsPage != null and questionsPage.content != null}">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <th>Pytania</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="question : ${questionsPage.content}">
                            <td>
                                <a th:href="@{'/questions/' + ${question.id}}" th:text="${question.name}"></a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:if="${questionsPage == null or questionsPage.content == null or questionsPage.content.isEmpty()}">
                    <p>Wybierz kategorię żeby zobaczyć pytania.</p>
                </div>

            </article>
            <nav th:if="${questionsPage != null and questionsPage.totalPages > 0}" class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary" th:each="pageNumber : ${pageNumbers}"
                   th:href="@{''(size=${questionsPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber == questionsPage.number + 1} ? 'btn btn-outline-primary disabled' : 'btn btn-outline-primary'"></a>
            </nav>



        </div>
    </div>
</div>
<th:block th:replace="template :: footer" />
</body>
</html>
