<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(title = 'Pomysłownik - ' + ${question.name})">
    <link rel="stylesheet" href="/static/css/singleStyle.css">
</head>
<body>
<th:block th:replace="template :: header" />
<div class="container">
    <div class="row g-5 justify-content-center">
        <div class="col-md-8">

            <article class="blog-post text-center">
                <h2 class="blog-post-title">
                    <span th:if="${category.isPresent()}" th:text="${category.get().name}">No category</span>
                </h2>
                <h2 class="display-5 link-body-emphasis mb-4" th:text="${question.name}"></h2>

                <table class="table table-bordered table-striped text-center">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="answer : ${answers}">
                        <td th:text="${answer.name}">Odpowiedź</td>
                        <td>
                            <a href="#" th:href="@{/answers/{id}/edit(id=${answer.id}, questionId=${question.id})}" class="btn btn-warning btn-sm">Edytuj</a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/answers/{id}/delete(id=${answer.id}, questionId=${question.id})}" class="btn btn-danger btn-sm">Usuń</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <form th:action="@{/answers/create}" method="post">
                    <input type="hidden" name="id" th:value="${question.id}" />
                    <div class="form-group">
                        <label for="name">Nowa odpowiedź:</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Wpisz odpowiedź" required />
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success">Dodaj odpowiedź</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>
<br>
<th:block th:replace="template :: footer" />
</body>
</html>
