<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(title = 'Pomysłownik - ' + ${category.name})">
    <link rel="stylesheet" href="/static/css/singleStyle.css">
</head>
<body>
<th:block th:replace="template :: header" />
<!--<div class="container" th:style="'background-image: url(\'/img/' + ${category.name} + '.jpg\'); background-size: cover; background-position: center; background-repeat: no-repeat;'">-->
<div class="container">
<div class="row g-5 justify-content-center">
        <div class="col-md-8">

            <article class="blog-post text-center">
                <h2 class="display-5 link-body-emphasis mb-4" th:text="${category.name}"></h2>

                <table class="table table-bordered table-striped text-center">
                    <thead>
                    <tr>
                        <th>Pytanie</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="question : ${questions}">
                        <td>
                            <a th:href="@{'/questions/' + ${question.id}}" th:text="${question.name}"></a>
                        </td>
                    </tbody>
                    </table>
            </article>

        </div>
    </div>
</div>
<th:block th:replace="template :: footer" />
</body>
</html>
